body {
  background: #f0f2f5;
}

* {
  outline: none;
}

.logo {
  width: 120px;
  height: 31px;
  margin: 10px 28px 16px 0;
  background: none;
  float: left;
}

.logo img {
  height: 40px;
  display: block;
}

.ant-layout-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .ant-layout.content {
    padding: 0;
  }
}

@media only screen and (min-width: 600px) {
  .ant-layout-content {
    padding: 0 24px;
  }
}

.ant-layout-sider-zero-width-trigger {
  top: 10px;
  left: 5px;
  position: fixed;
}

.ant-layout-sider-children {
  background: #ffffff;
}
